<config template="project (default)" platform="project">Created: Tue Jun 30 13:00:37 2015
By: Subby
Using Template: project (default)

&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="Simon" fromDef="true" name="name"/>
    <option value="Simon" fromDef="true" name="caption"/>
    <option value="Subby" fromDef="true" name="provider"/>
    <option value="(C) Subby" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
